.selectedPage {
  font-weight: bold;
}

.pagination {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.pageNumberContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 26px;
  position: relative;
  border: 1px solid grey;
  border-radius: 25%;
  margin-right: 2px;
}

.pageNumberContainer:last-of-type {
  margin-right: 0;
}

.pageNumber {
  line-height: 1px;
}

button {
  margin: 0 5px;
}
