.nav {
  padding: 20px;
  grid-area: n;
  /* background-color: rgb(119, 190, 105); */
}

.item a {
  font-size: 18px;
  color: rgb(197, 96, 96);
  text-decoration: none;
}

.item .active {
  color: #efb607;
}
