.content__bg {
  width: 100%;
  height: auto;
}

.descriptionBlock {
  padding: 10px;
}

.userFullName {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
}

.userAvatar {
  border-radius: 50%;
  width: 300px;
  height: auto;
}

.userDescriptionDiv {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.userDescription {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
